
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'socialmedia/css/chat.css' %}">
    <!-- tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="big-container">
        <div class="cnv-container w-full h-full flex flex-col">
            <div class="sidebar w-full h-full flex flex-col">
              <div class="sidebar-header flex items-center p-4">
                <div class="profile flex items-center">
                  <img src="{{ curr_user.profile_picture.url }}" alt="profile" class="w-8 h-8 rounded-full mr-2">
                  <span>{{ curr_user.username }}</span>
                </div>
              </div>
              <div class="conversation-list flex-grow overflow-y-auto">
                {% for conversation in conversations %}
                <div class="conversation " data-conversation_id="{{ conversation.id }}">
                  <div class="conversation-avatar w-8 h-8 rounded-full overflow-hidden mr-2">
                    <img src="{{ conversation.other_user.profile_picture.url }}" alt="profile" class="w-full h-full object-cover">
                  </div>
                  <span>{{ conversation.other_user.username }}</span>
                </div>
                {% endfor %}
              </div>
              <div class="add-cnv p-4">
                <button data-toggle="modal" data-target="#createConversationModal" class=" font-semibold py-2 px-4 flex items-center justify-center">
                  <img src="{% static 'socialmedia/images/svg/add_chat.svg' %}" alt="add" class="w-4 h-4 mr-2">
                  <span>Add Conversation</span>
                </button>
              </div>
            </div>
          </div>
        <div class="msg-container">
            <div class="chat-header header-avatar">
                <div class="other-profile">
                    <span class="other-name"></span>
                </div>
                    <div id="home" class=" font-bold text-xl m-3">
                        <img src="{% static 'socialmedia/images/logo.svg' %}" alt="academylink" class="w-8 h-8 mr-2 rounded-3xl">
                        <span>Home</span>
                    </div>
                
            </div>
            <div class="chat-body">
                <div class="messages">
                    <div class="select-conversation">
                        <img width="400" src="{% static 'socialmedia/images/svg/chat-conversation.svg' %}" alt="select conversation">
                        <h3>Select a conversation to start chatting</h3>
                    </div>
                </div>
                <div class="msg-input flex items-center bg-gray-100 p-2 w-3/4">
                    <form action="" method="post" class="flex flex-grow">
                      <div class="input-container flex items-center bg-white rounded-full shadow-sm flex-grow mr-2">
                        <input type="text" name="message" placeholder="Type a message" class="msg-input-field flex-grow w-50 px-4 py-2 outline-none">
                        <div class="input-actions flex items-center">
                          <label for="image" class="image-upload-label cursor-pointer text-gray-500 mr-2">
                            <img width="25" src="{% static 'socialmedia/images/svg/image-plus.svg' %}" alt="image">
                          </label>
                          <input type="file" name="image" id="image" class="image-upload-input hidden" accept="image/*" onchange="previewImage(event)">
                          <img id="preview-image" class="hidden w-8 h-8 rounded-full object-cover" alt="Preview">
                        </div>
                      </div>
                      <button type="submit" class="send-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-full">
                        <img width="25" src="{% static 'socialmedia/images/svg/send.svg' %}" alt="send">
                      </button>
                    </form>
                  </div>
            </div>
        </div>
    </div>

    <!-- Create Conversation Modal -->
    <div class="modal fade" id="createConversationModal" tabindex="-1" role="dialog" aria-labelledby="createConversationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createConversationModalLabel">Create Conversation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient">Recipient</label>
                            <input type="text" class="form-control" id="recipient" name="recipient" placeholder="Recipient">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const conversations = document.querySelectorAll('.conversation');
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(document).ready(function() {
            $('.conversation').click(function() {
                $(this).addClass('active').siblings().removeClass('active');
            });
        });

        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
              const reader = new FileReader();
              reader.onload = function (e) {
                const previewImage = document.getElementById('preview-image');
                previewImage.src = e.target.result;
                previewImage.classList.remove('hidden');
              };
              reader.readAsDataURL(input.files[0]);
            }
          }

        $(document).ready(function() {
            $('#home').click(function() {
                location.href = "{% url 'socialmedia:post-list' %}";
            });
        });

        //creating a conversation / thread
        $(document).ready(function() {
            $('#createConversationModal form').submit(function(e) {
                console.log('submitting');
                e.preventDefault();
                var recipient = $('#recipient').val();
                fetch('/social/create_conversation/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        recipient: recipient
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        $('#createConversationModal').modal('hide');
                        location.reload();
                    }
                });
            });
        });

        conversations.forEach(conversation => {
            conversation.addEventListener('click', () => {
                conversation.classList.add('active');
                conversations.forEach(c => {
                    if (c !== conversation) {
                        c.classList.remove('active');
                    }
                });
                console.log(conversation.dataset.conversation_id);
                //adding the other user's profile picture to the chat header
                const chatHeader = document.querySelector('.chat-header');
                other_picture = conversation.querySelector('img').src;
                other_user = conversation.querySelector('span').innerText;
                console.log(other_user)
                try {
                    chatHeader.querySelector('.other-profile').innerHTML = `
                        <img src="${other_picture}" alt="profile" class="w-8 h-8 rounded-full mr-2">
                        <span>${other_user}</span>
                    `;
                } catch (error) {
                    console.log(error);
                }
                document.querySelector('.messages').innerHTML = ``;
                

                //fetch messages
             
                fetch('/social/get_messages/?conversation_id=' + conversation.dataset.conversation_id, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'}
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.messages) {
                        console.log('success');
                        const chatBody = document.querySelector('.messages');
                        chatBody.innerHTML = '';
                        data.messages.forEach(message => {
                            const div = document.createElement('div');
                            div.classList.add('message');
                            div.classList.add(message.sender === '{{ curr_user.username }}' ? 'sent' : 'received');
                            div.innerHTML = `
                                <div class="message-avatar">
                                    <img src="${message.sender === '{{ curr_user.username }}' ? '{{ curr_user.profile_picture.url }}' : message.sender_img}" alt="profile">
                                </div>
                                <div class="message-body">
                                    <span>${message.message}</span>
                                    ${message.image ? `<img src="${message.image}" alt="image">` : ''}
                                </div>
                            `;
                            chatBody.appendChild(div);
                        });
                    }
                });
            })});

        //live chat
        setInterval(() => {
            const activeConversation = document.querySelector('.conversation.active');
            if (activeConversation) {
                fetch('/social/get_messages/?conversation_id=' + activeConversation.dataset.conversation_id, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.messages) {
                        const chatBody = document.querySelector('.messages');
                        const existingMessages = chatBody.querySelectorAll('.message');
                        const existingMessagesCount = existingMessages.length;
        
                        data.messages.forEach((message, index) => {
                            if (index >= existingMessagesCount) {
                                const div = document.createElement('div');
                                div.classList.add('message');
                                div.classList.add(message.sender === '{{ curr_user.username }}' ? 'sent' : 'received');
                                div.innerHTML = `
                                <div class="message-avatar">
                                    <img src="${message.sender === '{{ curr_user.username }}' ? '{{ curr_user.profile_picture.url }}' : message.sender_img}" alt="profile">
                                </div>
                                <div class="message-body">
                                    <span>${message.message}</span>
                                    ${message.image ? `<img src="${message.image}" alt="image">` : ''}
                                </div>
                            `;
                                chatBody.appendChild(div);
                            }
                        });
                    }
                });
            }
        }, 1000);

        //sending a message
        const msgInput = document.querySelector('.msg-input');
        msgInput.addEventListener('submit', e => {
            e.preventDefault();
            const message = msgInput.querySelector('input[name="message"]').value;
            fetch('/social/send_message/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    conversation_id: document.querySelector('.conversation.active').dataset.conversation_id,
                    message: message
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    msgInput.querySelector('input[name="message"]').value = '';
                }
            });
        });

    </script>
</body>
</html>


