{% extends 'socialmedia/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block feeds %}

    {% for post in post_list %}
    <div class="feed" id="{{post.pk}}">
        <div class="feed-top">
            <div class="user">
                <div class="profile-picture">
                    <a href="{% url 'socialmedia:profile' post.author.username %}">
                        <img src="{{ post.author.profile_picture.url }}" alt="">
                    </a>
                </div>
                <div class="info">
                    <h3>{{ post.author.username }}</h3>
                    <div class="time text-gry">
                        <small><span>{{ post.created_on|timesince }} ago</span></small>
                    </div>
                </div>
            </div>
            
            <a href="{% url 'socialmedia:post-detail' post.pk %}" class="pointer">
                <span class="edit">
                    <img src="{% static 'socialmedia/images/svg/three-dots.svg' %}">
                </span>
            </a>
        </div>
        <div class="caption">
            <div class="title">{{ post.body }}</div>
        </div>
        <div class="feed-img">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.image.name }}">
            {% endif %}
        </div>
        <div class="video-post">
            {% if post.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls class="embed-responsive-item">
                        <source src="{{ post.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endif %}
        </div>
        <div class="action-button">
                <div class="interaction-button">
                    <button  data-post-id="{{ post.pk }}" class="btn btn-primary like-button">
                        {% if user in post.likes.all %}
                            <i class="fas fa-thumbs-up"> </i>
                        {% else %}
                            <i class="far fa-thumbs-up"> </i>
                        {% endif %}
                        <span id="like-count">{{ post.likes.all.count }}</span>
                    </button>
                    <button  data-post-id="{{ post.pk }}" class="btn btn-primary dislike-button">
                        {% if user in post.dislikes.all %}
                            <i class="fas fa-thumbs-down"> </i>
                        {% else %}
                            <i class="far fa-thumbs-down"> </i>
                        {% endif %}
                        <span id="dislike-count">{{ post.dislikes.all.count }}</span>
                    </button>
                </div>
                <div class="comments">
                    <button data-post-id="{{post.pk}}" class="btn btn-primary com-btn">
                        <i class="far fa-comment-alt"></i>
                        <span>Comment</span>
                    </button>
                </div>
        </div>
        <div class="bookmark">
            <i class="fa fa-bookmark"></i>
        </div>
        <div id="{{ post.pk }}" class="comments-container comments-popup">

        </div>
    </div>

    {% endfor %}
    <div id="load-more-container">
        <button id="load-more-btn">Load More</button>
    </div>
    

    
    
    
    <script>

    //confirmation msg for creating a post
    document.addEventListener('DOMContentLoaded', function(){
        const postForm = document.querySelector('.post-input');
        postForm.addEventListener('submit', function(e){
            e.preventDefault();
            const isConfirmed = confirm('Are you sure you want to post this?');
            if (isConfirmed){
                postForm.submit();
            }
            
        });
    });


    // handel like and dislike post
    document.addEventListener('DOMContentLoaded', function(){
        const likeBtn = document.querySelectorAll('.like-button');
        const dislikeBtn = document.querySelectorAll('.dislike-button');
        const commentBtn = document.querySelectorAll('.com-btn');
        

        
        likeBtn.forEach(btn => {
            btn.addEventListener('click', function(){
                const postId = btn.getAttribute('data-post-id');
                console.log(postId);

                fetch(`/social/post/${postId}/like`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'}})
                .then(response => {
                    if (response.ok){
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data);
                   if (data.liked){
                       btn.innerHTML = `<i class="fas fa-thumbs-up"></i><span id="like-count">${data.like_count}</span>`;
                   } else {
                       btn.innerHTML = `<i class="far fa-thumbs-up"></i><span id="like-count">${data.like_count}</span>`;
                   }

                });
                
            });
        });

        dislikeBtn.forEach(btn => {
            btn.addEventListener('click', function(){
                const postId = btn.getAttribute('data-post-id');
                console.log(postId);

                fetch(`/social/post/${postId}/dislike`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'}})
                .then(response => {
                    if (response.ok){
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data);
                   if (data.disliked){
                       btn.innerHTML = `<i class="fas fa-thumbs-down"></i><span id="dislike-count">${data.dislike_count}</span>`;
                   } else {
                       btn.innerHTML = `<i class="far fa-thumbs-down"></i><span id="dislike-count">${data.dislike_count}</span>`;
                   }

                });
                
            });
        });

        commentBtn.forEach(btn => {
            btn.addEventListener('click', function(){
                console.log(btn)
                const postId = btn.getAttribute('data-post-id');
                console.log(postId);
    
                fetch(`/social/post/${postId}/comments`, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'}})
                .then(data =>{
                    console.log(data);
                    for (let i = 0; i < data.length; i++){
                        console.log(data[i].body);
                    }

                    const commentsContainer = document.querySelector(`.comments-container`);
                    commentsContainer.innerHTML = '';
                    data.forEach(comment => {
                        const commentDiv = document.createElement('div');
                        commentDiv.innerHTML = `
                        <div class="comment">
                            <div class="user">
                                <div class="profile-picture">
                                    <img src="${comment.author.profile_picture}" alt="">
                                </div>
                                <div class="info">
                                    <h3>${comment.author.username}</h3>
                                    <div class="time text-gry">
                                        <small><span>${comment.created_on}</span></small>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="title">${comment.body}</div>
                            </div>
                        </div>
                        `;
                        commentsContainer.appendChild(commentDiv);
                    });
                });
                
            });
        });
        //display comments as a dropdown

    });    



</script>

{% endblock feeds %}