
{% extends 'socialmedia/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block feeds %}
<!-- tailwind -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="feed">
                <div class="feed-top">
                    <div class="user">
                        <div class="profile-picture">
                            <img src="{{ post.author.profile_picture.url }}" alt="">
                        </div>
                        <div class="info">
                            <h3>{{ post.author.username }}</h3>
                            <div class="time text-gry">
                                <small><span>{{ post.created_on|timesince }} ago</span></small>
                            </div>
                        </div>
                    </div>
                    {% if request.user == post.author %}
                    <span class="edit">
                        <a href="{% url 'socialmedia:post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                        <a href="{% url 'socialmedia:post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                    </span>
                    {% endif %}
                </div>
                <div class="caption">
                    <div class="title">{{ post.body }}</div>
                </div>
                <div class="feed-img">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.image.name }}">
                    {% endif %}
                </div>
                <div class="video-post">
                    {% if post.video %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls class="embed-responsive-item">
                                <source src="{{ post.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}
                </div>
                
                <div class="action-button">
                    <div class="interaction-button">
                        <button  data-post-id="{{ post.pk }}" class="btn btn-primary like-button">
                            {% if user in post.likes.all %}
                                <i class="fas fa-thumbs-up"> </i>
                            {% else %}
                                <i class="far fa-thumbs-up"> </i>
                            {% endif %}
                            <span id="like-count">{{ post.likes.all.count }}</span>
                        </button>
                        <button  data-post-id="{{ post.pk }}" class="btn btn-primary dislike-button">
                            {% if user in post.dislikes.all %}
                                <i class="fas fa-thumbs-down"> </i>
                            {% else %}
                                <i class="far fa-thumbs-down"> </i>
                            {% endif %}
                            <span id="dislike-count">{{ post.dislikes.all.count }}</span>
                        </button>
                    </div>
                </div>
                <div class="bookmark">
                    <i class="fa fa-bookmark"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="comments space-y-4">
        {% for comment in comments %}
          <div class="comment bg-white rounded-lg shadow-md p-4">
            <div class="user flex items-center">
              <div class="profile-picture mr-3">
                <img class="rounded-full w-10 h-10" src="{{ comment.author.profile_picture.url }}" alt="">
              </div>
              <div class="info">
                <h3 class="text-lg font-semibold">{{ comment.author.username }}</h3>
                <div class="time text-gray-500 text-sm">
                  <small><span>{{ comment.created_on|timesince }} ago</span></small>
                </div>
              </div>
            </div>
            <div class="caption mt-2">
              <div class="title text-gray-700">{{ comment.comment }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.label == 'Body' %}
                            {{ field|as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
