
{% extends 'socialmedia/base.html' %}

{% load static %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'socialmedia/css/profile.css' %}">
{% endblock %}




{% block feeds %}
  <div class="profile-section">
    <div class="profile-header">
      <img src="{{ user.profile_picture.url }}" alt="{{ user.first_name }} {{ user.last_name }}" class="profile-picture">
      <div class="profile-info">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>{{ user.email }}</p>
      </div>
      {% if user.cv %}
        
      {% endif %}
      <button class="message-btn">Message</button>
    </div>
    <div class="posts-section">
      <h3>Posts</h3>
      {% for post in user_posts %}
        <div class="post">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
          <p class="post-date">{{ post.created_at }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}