{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'classrooms/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'classrooms/css/base_class.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'classrooms/css/assignment_summary.css' %}">
    {% block head %}{% endblock %}
    <!-- tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-purple-100">
      <a class="text-2xl font-bold text-purple-700 hover:no-underline" href="{% url 'classrooms:dashboard' %}">
          <div class="flex">
              <img src="{% static 'socialmedia/images/logo.svg' %}" alt="logo" class="w-10 h-10"> 
              <span class="text-2xl font-bold text-purple-700">Classroom</span>
          </div>
      </a>
      <div class="container mx-auto">
        <div class="text-lg font-semibold"><span>Assignment: </span>{{ assignment.assignment_name }}</div>

  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a href="{% url 'classrooms:render_class' id=assignment.classroom_id.id %}" type="button"  class="m-2 text-lg  nav-link text-purple-700 hover:text-purple-900" >Back to Class</a>
                </li>
                
              </ul>
          </div>
      </div>
  
      <div class="flex items-center">
          <div class="profile-picture">
              <img src="{{ user.profile_picture.url }}" alt="Profile Pic" class="w-10 h-10 rounded-full">
          </div>
      </div>
  </nav>
      
<div class="container">

  <input type="hidden" id="submission_id" name="submission_id">
  <input type="hidden" id="assignment_id" name="assignment_id">
  <input type="hidden" id="user_id" name="user_id">
  <br>
  <h4 class="text-lg font-semibold">
    <span class="mr-4">Total students: {{ no_of_students.count }}</span>
      <span class="mr-4">No. of Submissions: {{ submissions.count }}</span>
      <a href="{% url 'classrooms:delete_assignment' assignment_id=assignment.id %}" class="text-red-500 hover:text-red-700">Delete Assignment</a>
    </h4>
    
    {% for submission in submissions %}
<div class="container_of_submissions mt-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h5 class="text-2xl font-semibold mb-2">student: {{ submission.student_id.student_id.first_name }} {{submission.student_id.student_id.last_name}}</h5>
        <p class="text-gray-600 text-sm mb-2">Submitted at {{ submission.submitted_time }} on {{ submission.submitted_date }}</p>
        <p class="text-gray-600 text-sm mb-2">{{ submission.marks_alloted }} / {{ submission.assignment_id.total_marks }}</p>
        <p class="text-gray-600 text-sm mb-2">Due date and time: {{ submission.assignment_id.due_time }} on {{ submission.assignment_id.due_date }}</p>
        {% if submission.submitted_on_time %}
        <p class="text-gray-600 text-sm mb-2">Submitted on time</p>
        {% else %}
        <p class="text-red-500 text-sm mb-2">Oops! Submitted late</p>
        {% endif %}
        <a href="{{ submission.submission_file.url }}" download class="text-blue-500 hover:text-blue-700 block mb-4">View submitted file</a>
        <a href="#mark_assignment" data-submission_value="{{ submission.id }}" data-assignment_value="{{ submission.assignment_id.id }}" data-user_id="{{ user.id }}" class="text-blue-500 hover:text-blue-700">Mark Submission</a>
    </div>
</div>
{% endfor %}

    
    <div class="modal" tabindex="-1" id="mark_assignment">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mark Submission</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" class="cclass_form" id="mark_assignment_form">
              {% csrf_token %}
              <div class="form-group">
                <input type="number" class="form-control" id="submission_marks" placeholder="Submission Marks">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  
  
  <script>
    $('a[href$="#mark_assignment"]').on( "click", function() {
        $('#mark_assignment').modal('show');
        var assignment_id = $(this).data('assignment_value');
        var submission_id = $(this).data('submission_value');
        var user_id = $(this).data('user_id');

        var assignment_hidden_field = document.getElementById('assignment_id');
        assignment_hidden_field.value = assignment_id;

        var submission_hidden_field = document.getElementById('submission_id');
        submission_hidden_field.value = submission_id;

        var user_hidden_field = document.getElementById('user_id');
        user_hidden_field.value = user_id;

    });

    $('#mark_assignment_form').on('submit', function (e) {
        var submission_id = document.getElementById('submission_id').value;    
        var user_id = document.getElementById('user_id').value;    
        var mark_assignment_url =  "{% url 'classrooms:mark_submission_request' submission_id=1 teacher_id=0 %}".replace('1', submission_id);
        mark_assignment_url = mark_assignment_url.replace('0',user_id)
        console.log(mark_assignment_url);
        var assignment_id = document.getElementById('assignment_id').value;   
        $.ajax({
            type:'POST',
            url:mark_assignment_url,
            data:{
                submission_marks:$('#submission_marks').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json){
                document.getElementById("mark_assignment_form").reset();
                $(".posts").prepend('<div class="col-md-6">'+
                    '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                        '<div class="col p-4 d-flex flex-column position-static">' +
                            '<h3 class="mb-0">' + json.submission_marks + '</h3>' +
                        '</div>' +
                    '</div>' +
                '</div>' 
                )
                window.location.href='http://127.0.0.1:8000/classrooms/assignment_summary/' + assignment_id.toString();
                window.location.reload();
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
      });
</script>
</html> 