{% extends "main/base.html" %}

{% block title %}
    Create Classroom
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create Classroom</h1>
                <form action="{% url 'create_class' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="class_name">Classroom</label>
                        <input type="text" class="form-control" id="class_name" name="class_name" required>
                    </div>
                   
                    <!-- csv file for studets emails -->
                    <div class="form-group">
                        <label for="students">Students</label>
                        <input type="file" class="form-control" id="students" name="students" >
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}