{% extends 'main/base.html' %}
{% block title %}
    Classroom
{% endblock %}

{% block content %}

{% if messages %}
    <div class="container" id="info_message">
        <div class="row">
            <div class="col-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Classroom</h1>
                <a href="create_class" class="btn btn-primary">Create</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Classroom</th>
                            <th>students</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for classroom in classes %}
                        <tr>
                            <td>{{ classroom.id }}</td>
                            <td>{{ classroom.class_name }}</td>
                            <td>{{ classroom.members|length }}</td>
                            <td>
                                <a href="#" class="btn btn-warning">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}

<script>
    let info_message = document.getElementById('info_message');
    console.log(info_message);
    setTimeout(() => {
        info_message.style.display = 'none';
        console.log('info_message');
    }, 3000);
</script>