{% extends 'classrooms/burger.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'classrooms/css/card.css' %}">
{% endblock %}

{% block burger %}


<div class="m-20">

    {% if mappings %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for mapping in mappings %}
        <div class=" max-w-sm rounded-3xl overflow-hidden shadow-lg ">
            <a href="{% url 'classrooms:render_class' id=mapping.classroom_id.id %}" class="hover:no-underline" >    
                <div class="colorme px-6 py-4">
                    <div class="text-white font-bold text-xl mb-2 ">{{ mapping.classroom_id.classroom_name|truncatechars:30 }}</div>
                    <p class="text-base text-white"><i>{{ mapping.classroom_id.section|truncatechars:30 }}</i></p>
                </div>
            </a>
            <div class="px-6 py-4">
                {% for teacher in teachers_all %}
                {% if teacher.classroom_id == mapping.classroom_id %}
                <p class="text-gray-600 italic text-sm">{{ teacher.teacher_id|truncatechars:30 }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No classrooms found!</h4>
        <p>Create a new classroom.</p>
    </div>
    {% endif %}
    
</div>
<script type="text/javascript">
    var colors_1 = ['#92081C', '#050377', '#23542B', '#462247'];   //dark colors
    var colors_2 = ['#FA9696', '#BCC0FF', '#3AFB76', '#964998'];    //light colors
    var x = document.getElementsByClassName('colorme');
    for (i = 0; i < x.length; i++) {
        var index = Math.floor(Math.random() * colors_1.length);
        var random_color_1 = colors_1[index];
        var random_color_2 = colors_2[index];
        var ans = "linear-gradient(90deg, " + random_color_1 + ", " + random_color_2 + ")";
        x[i].style.background = ans;
        // alert(ans);
    }
</script>
{% endblock %}